.feynman__link {
    position: absolute;
    font-size: 36px;
    line-height: 51px;
    text-decoration: none;
    top: 50%;
    right: 48px;
    font-weight: normal;
    color: #2f80ed;
    text-align: left;
   }
  